body{
    background-color: lightgoldenrodyellow;
}

.purple{
    color: purple;
}

.orange{
    color: orange;
}

.howToImage{
    border-style: solid;
    border-color: navy;
    border-width: 2px;
}